*.nds
*.srl
*bios.bin
*.sav

extract/*
!extract/eur/
extract/eur/*
!extract/eur/.gitkeep

tools/mwccarm/

/dsd
/dsd.exe
/dsd.pdb
/objdiff-cli
/objdiff-cli.exe
/objdiff-windows-x86_64.exe
/wibo
/ninja.exe
/m2ctx

build/
build.ninja
.ninja_log*
.ninja_lock
.ninja_deps
objdiff.json
compile_commands.json
*.xMAP

__pycache__/
.cache/
.vscode/